.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %h2.chat-main__group-info__left-box__current-group b
      %ul.chat-main__group-info__left-box__member-list
        Member :
        %li.chat-main__group-info__left-box__member-list__member  aaa
    %a{ href: '#' }
      .chat-main__group-info__edit-btn
        Edit
  .chat-main__message-list
  .chat-main__message-from